/* Header */

#header {
	box-shadow: 0 10px 20px rgba(197, 175, 175, 0.2);
	padding-top: 5px;
}

img#logo {
	width: 177px;
	height: 50px;
	margin-left: 50px;
}

a.nav-link {
	color: #74808e;
}

#es a {
	color: #ffc107;
}
#usu img{
   width: 41px;
   height: 42px;
}
#usu button{
	margin-left: 320px;
}

/* Header */

/* presentacion */
.espacio{
	margin-top: 30px;
}
/* presentacion */

/* accordion */

ul {
	list-style-type: none;
}

.card-header {
	padding: 0;
}

.card {
	border: transparent;
}

.btn-link {
	color: grey;
	text-align: left;
	font-size: 13px;
	font-family: "Montserrat-SemiBold";
	text-decoration: none;
}

#accordionExample {
	background-color: white;
}

#headingOne i {
	margin-left: 173px;
}

#headingTwo i {
	margin-left: 169px;
}

#headingThree i {
	margin-left: 170px;
}

#headingFour i {
	margin-left: 96px;
}

#headingFive i {
	margin-left: 96px;
}

#headingSix i {
	margin-left: 79px;
}

#headingSeven i {
	margin-left: 90px;
}

#headingEight i {
	margin-left: 167px;
}

#headingNine i {
	margin-left: 158px;
}

#headingTen i {
	margin-left: 167px;
}

#headingEleven i {
	margin-left: 157px;
}

#headingTwelve i {
	margin-left: 154px;
}

.card-body li,
a {
	color: black;
	font-family: "NunitoSans-Bold";
	font-size: 15px;
	list-style-type: circle;
	position: relative;
}

.card-body li:hover:before {
	content: "";
	background: url(../images/iconos/right-arrow.svg);
	position: absolute;
	right: 208px;
	top: 0px;
	width: 9px;
	height: 8px;
	background-size: 60%;
	background-repeat: no-repeat;
	background-position: center;
}

.card-body {
	background-color: #EFF0F1;
}

.card-header h5 {
	font-size: 15px;
	font-family: "Montserrat-SemiBold";
	text-decoration: underline;
	color: #e5e9f4;
	border-left: none;
	background-color: white;
}

.collapsed {
	background-color: white;
	margin-left: -3px;
	padding-left: 17px;
	border-radius: 1px;
}

.accordion>.card .card-header {
	margin-bottom: 0px;
}

.btn-link:hover {
	text-decoration: none;
	color: #e0921f;
}

.space {
	margin-top: 21px;
}


/* accordion */


/* Images y texto */

h2#au {
	font-family: 'SlatePro-Bold';
	font-size: 42px;
	color: #001B51;
	margin-left: 145px;
	margin-top: 10px;
	margin-bottom: 20px;
}

div#inC {
	background: rgba(241, 231, 103, 1);
	background: -moz-linear-gradient(left, rgba(241, 231, 103, 1) 0%, rgba(254, 182, 69, 1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(241, 231, 103, 1)), color-stop(100%, rgba(254, 182, 69, 1)));
	background: -webkit-linear-gradient(left, rgba(241, 231, 103, 1) 0%, rgba(254, 182, 69, 1) 100%);
	background: -o-linear-gradient(left, rgba(241, 231, 103, 1) 0%, rgba(254, 182, 69, 1) 100%);
	background: -ms-linear-gradient(left, rgba(241, 231, 103, 1) 0%, rgba(254, 182, 69, 1) 100%);
	background: linear-gradient(to right, rgba(241, 231, 103, 1) 0%, rgba(254, 182, 69, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645', GradientType=1);
}

#inC img {
	margin-left: 40px;
	margin-bottom: 50px;
	margin-top: 40px;
}

#LI {
	margin-bottom: 50px;
}

#inC p {
	font-family: 'SlatePro';
	color: #001B51;
	text-align: justify;
	line-height: 30px;
}

#img img {
	height: 200px;
	width: 100%;
	padding: 0px;
	margin: 0px;
}


/* text and images */

/* footer */
footer.back{
	background-color: #f6d258;
}
/* footer */
